<link rel="import" href="../vendors/google-map/google-map.html">
<link rel="import" href="../vendors/core-icon/core-icon.html">
<link rel="import" href="../vendors/paper-fab/paper-fab.html">

<polymer-element name="location-editor" attributes="location">

  <template>
    <link rel="stylesheet" href="location-editor.css" shim-shadowdom>
    <div fit vertical layout reverse>
      <google-map
        id="map"
        apiKey="AIzaSyCieCmUN4RcOP5Ikf_WJhokNzP94D-1G3c"
        latitude="{{location && location.latitude ? location.latitude : 37.4268}}"
        longitude="{{location && location.longitude ? location.longitude:-122.17}}"
        zoom="17"
        fit
        disableDefaultUI>
        <template if="{{location.latitude && location.longitude}}">
          <google-map-marker id="marker"
                             latitude="{{location.latitude}}"
                             longitude="{{location.longitude}}"
                             radius="{{location.radius}}"
                             draggable="true">
          </google-map-marker>
        </template>
      </google-map>
      <div id="secondary-media" layout horizontal center-justified>
        <paper-fab
          mini
          id="video"
          class="blue"
          style="display:{{expanded ? 'block;' : 'none;'}}"
          src="../vendors/icon/av/2x_web/ic_videocam_white_24dp.png"">
        </paper-fab>
        <paper-fab
          mini
          id="photo"
          class="blue"
          style="display:{{expanded ? 'block;' : 'none;'}}"
          src="../vendors/icon/image/2x_web/ic_camera_alt_white_24dp.png"">
        </paper-fab>
        <paper-fab
          mini
          id="add"
          class="red"
          icon="{{expanded ? 'remove' : 'add'}}"
          on-click="{{expand}}">
        </paper-fab>
        <paper-fab
          mini
          id="text"
          class="blue"
          style="display:{{expanded ? 'block;' : 'none;'}}"
          src="../vendors/icon/hardware/2x_web/ic_keyboard_white_24dp.png"">
        </paper-fab>
        <paper-fab
          mini
          id="link"
          class="blue"
          style="display:{{expanded ? 'block;' : 'none;'}}"
          src="../vendors/icon/content/2x_web/ic_link_white_24dp.png"">
        </paper-fab>
      </div>

      <div id="voice" layout horizontal center-justified>
        <paper-fab icon="settings-voice"></paper-fab>
      </div>
    </div>
  </template>

  <script>
   Polymer("location-editor", {
     clear: function() {
     },

     expand: function() {
       this.expanded = ! this.expanded;
     },

     mapReady: function() {
       this.map = this.$.map.getMap();
       google.maps.event.addListener(this.map, 'click', (function(e) {
         if (this.location) {
           this.location.latitude = e.latLng.lat();
           this.location.longitude = e.latLng.lng();
         }
       }).bind(this));
     },

     ready: function() {
       window.addEventListener('google-map-ready', this.mapReady.bind(this));
       this.expanded = false;
     }
   });
  </script>

</polymer-element>
