<link rel="import" href="../vendors/google-map/google-map.html">

<polymer-element name="location-editor" attributes="location">

  <template>
    <link rel="stylesheet" href="location-editor.css" shim-shadowdom>
    <google-map
      id="map"
      apiKey="AIzaSyCieCmUN4RcOP5Ikf_WJhokNzP94D-1G3c"
      latitude="{{location && location.latitude ? location.latitude : 37.4268}}"
      longitude="{{location && location.longitude ? location.longitude : -122.17}}"
      zoom="17"
      fit
      disableDefaultUI>
      <template if="{{location.latitude && location.longitude}}">
        <google-map-marker id="marker"
                           latitude="{{location.latitude}}"
                           longitude="{{location.longitude}}"
                           radius="{{location.radius}}"
                           draggable="true">
        </google-map-marker>
      </template>
    </google-map>
  </template>

  <script>
   Polymer("location-editor", {
     clear: function() {
     },

     mapReady: function() {
       this.map = this.$.map.getMap();
       google.maps.event.addListener(this.map, 'click', (function(e) {
         if (this.location) {
           this.location.latitude = e.latLng.lat();
           this.location.longitude = e.latLng.lng();
         }
       }).bind(this));
     },

     ready: function() {
       window.addEventListener('google-map-ready', this.mapReady.bind(this));
     }
   });
  </script>

</polymer-element>
