<link rel="import" href="../vendors/core-scaffold/core-scaffold.html">
<link rel="import" href="../vendors/core-icon/core-icon.html">
<link rel="import" href="../vendors/core-icons/av-icons.html">
<link rel="import" href="../vendors/core-header-panel/core-header-panel.html">
<link rel="import" href="../vendors/core-toolbar/core-toolbar.html">

<link rel="import" href="../vendors/paper-shadow/paper-shadow.html">
<link rel="import" href="../vendors/paper-tabs/paper-tabs.html">
<link rel="import" href="../vendors/paper-fab/paper-fab.html">
<link rel="import" href="../vendors/paper-button/paper-button.html">

<link rel="import" href="../vendors/google-map/google-map.html">

<link rel="import" href="./tour-drawer.html">
<link rel="import" href="./location-editor.html">

<polymer-element name="main-screen" attributes="menuTitle mainTitle">

  <template>
    <link rel="stylesheet" href="main-screen.css" shim-shadowdom>
    <link rel="stylesheet" href="../../css/idangerous.swiper.css" shim-shadowdom>
    <link rel="stylesheet" href="../../css/idangerous.swiper.3dflow.css" shim-shadowdom>

    <core-scaffold id="scaffold" selectedTab="{{selectedTab}}">
      <!-- Discover -->
      <div style="display:{{selectedTab == 0 ? 'block;' : 'none;'}}">
        <div style="display:{{expandedLocation != null ? 'block;' : 'none;'}}">
          <div class="expanded-location">
            <div vertical layout class="location-card"
                 expanded="{{ location.expanded }}">
              <div class="location-title"> {{expandedLocation.title}} </div>
              <div class="location-perspectives">
                <div class="location-perspective" horizontal layout>
                  <div class="location-perspective-profile-picture"
                       style="background-image:url(http://lorempixel.com/200/200/people/3);">
                  </div>
                  <div horizontal layout center
                       class="location-perspective-profile-name-container">
                    <div class="location-perspective-profile-name">
                      Richard Parker
                    </div>
                  </div>
                  <div horizontal layout center>
                  <paper-button flex class="location-perspective-play-button">
                    <core-icon icon="av:play-arrow"> </core-icon>
                  </paper-button>
                  </div>
                </div>
                <div class="location-perspective" horizontal layout>
                  <div class="location-perspective-profile-picture"
                       style="background-image:url(http://lorempixel.com/200/200/people/7);">
                  </div>
                  <div horizontal layout center
                       class="location-perspective-profile-name-container">
                    <div class="location-perspective-profile-name">
                      Emily Sharp
                    </div>
                  </div>
                  <div horizontal layout center>
                  <paper-button flex class="location-perspective-play-button">
                    <core-icon icon="av:play-arrow"> </core-icon>
                  </paper-button>
                  </div>
                </div>
                <div class="location-perspective" horizontal layout>
                  <div class="location-perspective-profile-picture"
                       style="background-image:url(http://lorempixel.com/200/200/people/10);">
                  </div>
                  <div horizontal layout center
                       class="location-perspective-profile-name-container">
                    <div class="location-perspective-profile-name">
                      Sam Harris
                    </div>
                  </div>
                  <div horizontal layout center>
                    <paper-button flex class="location-perspective-play-button">
                      <core-icon icon="av:play-arrow"> </core-icon>
                    </paper-button>
                  </div>
                </div>
                <div class="location-perspective" horizontal layout>
                  <div class="location-perspective-profile-picture"
                       style="background-image:url(http://lorempixel.com/200/200/people/9);">
                  </div>
                  <div horizontal layout center
                       class="location-perspective-profile-name-container">
                    <div class="location-perspective-profile-name">
                      Megan Wolf
                    </div>
                  </div>
                  <div horizontal layout center>
                    <paper-button flex class="location-perspective-play-button">
                      <core-icon icon="av:play-arrow"> </core-icon>
                    </paper-button>
                  </div>
                </div>
              </div>
              <div class="location-image-gallary">
                <div id="swiperagain" class="swiper-container">
                  <div class="swiper-wrapper">
                    <template repeat="{{picture in pictures}}">
                      <div class="location-image swiper-slide"
                           style="background-image:url('{{picture}}');">
                      </div>
                    </template>
                  </div>
                </div>
              </div>
              <div class="location-text-blurb">
                {{expandedLocation.text}}
              </div>
              <paper-fab
                on-click="{{closeInfoBox}}"
                id="close-button" icon="clear" class="red"></paper-fab>
            </div>
          </div>
        </div>
        <div id="swiper" class="swiper-container">
          <div class="swiper-wrapper">
            <template repeat="{{location in locations}}">
              <div class="swiper-slide swiper-slide-location"> 
                <div vertical layout class="location-card">
                  <div class="location-title"> {{location.title}} </div>
                  <div class="location-picture"
                       style="background-image:url('{{location.picture}}');">
                  </div>
                  <div horizontal layout class="location-buttons">
                    <paper-button
                      flex
                      onclick="var e=new Event('expand'); e.origin=this; window.dispatchEvent(e);"
                      class="location-action-button">
                      <core-icon icon="info-outline"> </core-icon>
                    </paper-button>
                    <paper-button flex class="location-action-button">
                      <core-icon icon="av:play-arrow"> </core-icon>
                    </paper-button>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>

      <!-- Take a tour -->
      <template if="{{selectedTab == 1}}">
      </template>

      <!-- Tour Creation -->
      <template if="{{selectedTab == 2}}">
        <core-header-panel navigation flex id="drawer">
          <tour-drawer id="tour-drawer" tour="{{tour}}"></tour-drawer>
        </core-header-panel>

        <div vertical layout tool>
          <paper-shadow z="1"></paper-shadow>
        </div>

        <div vertical layout>
          <div class="content">
            <location-editor
              id="locationEditor"
              location="{{tour.selectedLocation}}">
            </location-editor>
          </div>
        </div>
      </template>

    </core-scaffold>
  </template>

  <script>

   Polymer("main-screen", {
     selectedTab: 0,

     makeSwiper: function() {
       window.mySwiper = new Swiper(this.$.swiper, {
         slidesPerView: 3,
         loop: true,
         tdFlow: {shadows:false}});
       /* var mySwiper = new Swiper(this.$.swiper, {
          //Your options here:
          mode:'horizontal',
          loop: false,
          slidesPerView: 3,
          //etc..
          tdFlow: {
          rotate : 50,
          stretch :0,
          depth: 100,
          modifier : 1,
          shadows : true
          }}); */
     },

     ready: function() {
       this.scaffold = this.$.scaffold;
       this.locationEditor = this.$.locationEditor;
       window.addEventListener('add-place', this.addPlace.bind(this));
       window.addEventListener('expand', this.expand.bind(this));
       this.makeSwiper();
     },

     addPlace: function() {
       this.scaffold.togglePanel();
     },

     closeInfoBox: function() {
       this.expandedLocation = null;
     },
     
     expand: function(e) {
       foobar = e.origin.parentElement.parentElement;
       var title_element = e.origin.parentElement.parentElement.children[0];
       for (var i = 0; i < this.locations.length; i++) {
         if (this.locations[i].title == title_element.innerHTML.trim()) {
           this.expandedLocation = this.locations[i];
         }
       }
       console.log(this.$.swiperagain);
       window.swiperagain = new Swiper(this.$.swiperagain, {
         slidesPerView: 3,
         loop: true,
         tdFlow: {shadows:false}});
     },

     expandedLocation: null,

     tour: {
       name: "",
       locations: [],
       selectedLocationIdx: -1,
       selectedLocation: null,
     },

     locations: [
       {
         title: "Encina Hall",
         picture: "../../locations/EncinaHall/Encina.jpg",
         text: "The Bechtel Conference Center at Encina Hall (BBC) is the university’s premier full service event venue that uniquely reflects the historical beauty and character of the Stanford campus. Encina Hall would never have been built had Leland Stanford listened to his advisors. Here's how it happened. http://historicalsociety.stanford.edu/pdfST/ST24no1.pdf",
         audio: ""
       },
       {
         title: "Hoover Tower",
         picture: "../../locations/HooverTower/Hoover-View-3.jpg",
         text: "Hoover Tower is a 285 feet (87 m) structure on the campus of Stanford Universityin Stanford, California. The tower houses the Hoover Institution Library and Archives, an archive collection founded by Herbert Hoover before he becamePresident of the United States. Hoover had amassed a large collection of materials related to early 20th century history; he donated them to Stanford, his alma mater, to found a 'library of war, revolution and peace'. Hoover Tower also houses theHoover Institution research center and think tank.",
         audio: ""
       },
       {
         title: "Main Quad",
         picture: "../../locations/MainQuad/Stanford_University_Arches.JPG",
         text: "The Main Quadrangle, or more commonlyMain Quad or simply Quad, is the heart and oldest part of Stanford University in California. The collection of connected buildings was started in 1887 and completed in 1906 only to be damaged in the 1906 earthquake, repaired, less severely damaged in an 1989 earthquake, and repaired again. The exteriors have remained almost the same since the beginning though the interiors of most of the buildings have changed radically. As it was in the beginning, the Main Quad is still used for teaching, research, and administration.",
         audio: ""
       },
       {
         title: "Memorial Audi.",
         picture: "../../locations/MemAud/crowd-3eb.jpg",
         text: "Memorial Hall (usually called Memorial Auditorium, or MemAud by current students), dedicated in 1937,[1] commemorates those students and faculty from Stanford who died in World War I. Designed by Arthur Brown, Jr. in conjunction with Bakewell and Weihe,[1] construction of the building was funded primarily through student contributions. Prominent features of the building include a great central arched entry, large arched entries on the sides, covered colonnades on the sides, bare wall surfaces in rectangular segments, and a red tile roof typical of many Stanford buildings. In addition to containing a main auditorium with 1,700 seats (Memorial Auditorium proper), it also houses the drama department; Pigott Theater, a 'little' theater with 200 seats; and Prosser Studio Theater which seats 60.[2] Some modifications to the auditorium's facade were made in 1997 by Sebastian and Associates, including a new entry stairs, terrace, and accessibility ramp.",
         audio: ""
       },
       {
         title: "Mem. Church",
         picture: "../../locations/MemChu/Memchu_altar_pulpit.jpg",
         text:"Stanford Memorial Church (also referred to informally as MemChu)[1] is located on the Main Quad at the center of the Stanford University campus in Stanford, California, United States. It was built during the American Renaissance[2] by Jane Stanford as a memorial to her husband Leland. Designed by architect Charles A. Coolidge, a protégé of Henry Hobson Richardson, the church has been called 'the University's architectural crown jewel'",
         audio: ""
       }
     ],

     pictures: [
         "../../locations/EncinaHall/Encina.jpg",
         "../../locations/HooverTower/Hoover-View-3.jpg",
         "../../locations/MainQuad/Stanford_University_Arches.JPG",
         "../../locations/MemAud/crowd-3eb.jpg",
         "../../locations/MemChu/Memchu_altar_pulpit.jpg",
     ],
   });

  </script>

</polymer-element>
