/*http://www.google.com/design/spec/style/color.html#color-ui-color-application*/

/* application font */
core-scaffold {
    font-family: sans-serif;
}

/* menu bar of the left panel */
core-toolbar {
    background: #000000;
    color: #fafafa;
}

core-toolbar.medium-tall {
}

/* content of the left panel */
core-header-panel {
    background: #333;
    color: #fafafa;
}

.content {
    /* position: relative; */
}

.appname {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fff;
    font-size: 1.8em;
}

/*
http://stackoverflow.com/questions/24594333/polymer-core-scaffold-coloring-and-paper-button
*/

core-scaffold::shadow core-icon-button {
  margin: 0px;
  margin-top: -17px;
}

core-scaffold::shadow paper-tabs {
  margin-left: 30px;
}

/* title bar of the right panel */
core-scaffold::shadow core-toolbar {
    background: #1d9bf5;
    color: #fafafa;
    height: 48px;
}

/* content of the right panel */
core-scaffold::shadow core-header-panel {
    /* background: #333; */
    /* color: #fafafa; */
}

core-scaffold::shadow core-header-panel::shadow #mainContainer {
  background-color: #222;
}

#swiper {
  margin-top: 50px;
}

#swiper .swiper-wrapper {
  margin-left: -23px;
}

.location-card {
  width: 200px;
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 1em black;
}

.location-title {
  text-align: center;
  background-color: #1d9bf5;
  color: #fff;
  font-size: 1.5em;
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
}

.location-picture {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 160px;
  height: 160px;
  background-position: center;
  background-image: url("../../locations/MemAud/chu_video.jpg");
  background-size: cover;
  border-radius: 3px;
}

.location-buttons {
  margin-left: 10px;
  margin-right: 14px;
  margin-bottom: 10px;
}

.location-action-button {
  /* background-color: #1d9bf5; */
}
