<link rel="import" href="../vendors/core-scaffold/core-scaffold.html">
<link rel="import" href="../vendors/core-header-panel/core-header-panel.html">
<link rel="import" href="../vendors/core-toolbar/core-toolbar.html">

<link rel="import" href="../vendors/paper-shadow/paper-shadow.html">
<link rel="import" href="../vendors/paper-tabs/paper-tabs.html">

<link rel="import" href="../vendors/google-map/google-map.html">

<link rel="import" href="./tour-drawer.html">
<link rel="import" href="./location-editor.html">

<polymer-element name="main-screen" attributes="menuTitle mainTitle">

  <template>
    <link rel="stylesheet" href="main-screen.css" shim-shadowdom>

    <core-scaffold id="scaffold">
      <core-header-panel navigation flex id="drawer">
        <core-toolbar>
          <div horizontal center-justified layout style="width:100%;">
            <div>{{menuTitle}}</div>
          </div>
        </core-toolbar>
        <tour-drawer id="tour-drawer" tour="{{tour}}"></tour-drawer>
      </core-header-panel>

      <div vertical layout tool>
        <div fit horizontal center-justified layout
             style="width:50%; margin:auto;">
          <div class="appname">{{mainTitle}}</div>
        </div>
        <paper-shadow z="1"></paper-shadow>
      </div>

      <div vertical layout>
        <!-- <div class="bottom fit" horizontal layout>
        <paper-tabs selected="0" fit flex role="tablist" horizontal center layout>
        <paper-tab role="tab" inline flex center-center horizontal layout>
        ITEM ONE
        </paper-tab>
        <paper-tab role="tab" inline flex center-center horizontal layout>
        ITEM TWO
        </paper-tab>
        <paper-tab role="tab" inline flex center-center horizontal layout>
        ITEM THREE
        </paper-tab>
        </paper-tabs>
        </div> -->
        <div class="content">
          <location-editor
            id="locationEditor"
            location="{{tour.selectedLocation}}">
          </location-editor>
        </div>
      </div>
    </core-scaffold>
  </template>

  <script>

   Polymer("main-screen", {

     ready: function() {
       this.scaffold = this.$.scaffold;
       this.locationEditor = this.$.locationEditor;
       window.addEventListener('add-place', this.addPlace.bind(this));
     },

     addPlace: function() {
       this.scaffold.togglePanel();
     },

     tour: {
       name: "",
       locations: [],
       selectedLocationIdx: -1,
       selectedLocation: null,
     }
   });

  </script>

</polymer-element>
