/*http://www.google.com/design/spec/style/color.html#color-ui-color-application*/

/* application font */
core-scaffold {
    font-family: sans-serif;
}

/* menu bar of the left panel */
core-toolbar {
    background: #000000;
    color: #fafafa;
}

core-toolbar.medium-tall {
}

/* content of the left panel */
core-header-panel {
    background: #333;
    color: #fafafa;
}

.content {
    /* position: relative; */
}

.appname {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color: #fff;
    font-size: 1.8em;
}

/*
http://stackoverflow.com/questions/24594333/polymer-core-scaffold-coloring-and-paper-button
*/

core-scaffold::shadow core-icon-button {
  margin: 0px;
  margin-top: -17px;
}

core-scaffold::shadow paper-tabs {
  margin-left: 30px;
}

/* title bar of the right panel */
core-scaffold::shadow core-toolbar {
    background: #1d9bf5;
    color: #fafafa;
    height: 48px;
}

/* content of the right panel */
core-scaffold::shadow core-header-panel {
    /* background: #333; */
    /* color: #fafafa; */
}
